.portfolio-title {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.main-image {
    width: 333px;
    height: 101px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.work-image {
    width: 333px;
    height: 180px;
}

.work-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logo-image {
    width: 230px;
    height: 121px;
}

.featured-work-subtitle {
    text-align: center;
}

.featured-work-link {
    text-align: center;
}

@media screen and (max-width: 1150px) {
    .logo-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .featured-work-title {
        text-align: center;
    }
}

@media screen and (min-width: 750px) {
    .main-image {
        width: 684px;
        height: 210px;
    }

    .work-image {
        width: 370px;
        height: 200px;
    }

}

@media screen and (min-width: 1150px) {
    .portfolio-title {
        text-align: right;
    }

    .main-image {
        width: 1140px;
        height: 350px;
    }

    .work-image {
        width: 370px;
        height: 200px;
    }

}